<%= form_with(model: @comment) do |form| %>
  <div class="input-button-container">
  <%= form.text_area :body, placeholder: "Добавить комментарий" %>
  <%= form.submit 'Отправить' %>
  </div>

  <div>
    <%= form.hidden_field :post_id, value: @comment.post_id || post_id %>
  </div>

<% end %>
