<main class ="About_main">
    <div class="InvitationImage">
        <p class="Invitation">ПРОЕКТ FAVIAS ОБЪЕДИНЯЕТ ВОСХОДЯЩИЕ БРЕНДЫ ОДЕЖДЫ ИЗ
        РОССИИ И СНГ, ПРЕДОСТАВЛЯЯ ЛОКАЛЬНЫМ ДИЗАЙНЕРАМ ЕДИНУЮ ПЛАТФОРМУ ДЛЯ ПРОДВИЖЕНИЯ.
        ОБЕСПЕЧИВАЕМ СОСТЫКОВКУ БРЕНДОВ И СТРИТВИРЩИКОВ: У НАС КАЖДЫЙ ЗЕМЛЯНИН НАЙДЕТ «ТУ САМУЮ» ВЕЩЬ </p>
    </div>
    <div class="OurValues">
        <h2 class="OurValuesTitle">НАШИ ЦЕННОСТИ</h2>
        <div class="OurValuesContainer">
        <ul class="ValuesList">
            <li class="FirstValue">Улетный стиль</li>
            <li class="FirstValue">Яркая индивидуальность</li>
            <li class="FirstValue">Безапелляционное качество</li>
            <li class="FirstValue">Притягивающее комьюнити</li>
        </ul>
        <p class="OurValuesDescription">ЕСТЬ КОНТАКТ! КОМАНДА&nbsp;FAVIAS УМЕЕТ СЛЫШАТЬ И&nbsp;СЛУШАТЬ. МЫ&nbsp;ВЫСТРАИВАЕМ ПАРТНЕРСКИЕ ОТНОШЕНИЯ&nbsp;С&nbsp;БРЕНДАМИ И&nbsp;ПООЩРЯЕМ ВЫХОД
        ЗА&nbsp;РАМКИ СТАНДАРТОВ&nbsp;ПОЗИЦИОНИРОВАНИЯ НА&nbsp;МАРКЕТПЛЕЙСЕ:&nbsp;СНИМАЕМ ШОУ ОДИН&nbsp;ДЕНЬ&nbsp;С&nbsp;БРЕНДОМ И&nbsp;ЗАПУСКАЕМ САЙТ-ПОРТФОЛИО ДЛЯ ДИЗАЙНЕРОВ ОДЕЖДЫ.</p>
        </div>
        <div class="ShowContainer">
        
        </div>
    </div>
</main>