<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post, class: "manage_button" %> |
  <%= link_to "Back to posts", posts_path, class: "manage_button" %>
</div>
