<footer>
        <div class="footer_content">
        <div class="footer_left_part">
        <svg width="82" height="20" viewBox="0 0 82 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0.268519H9.75178V2.55093H2.53223V8.51204H9.213V10.8213H2.53223V19.0648H0V0.268519Z" fill="#F7F7F7"/>
<path d="M18.3597 0.0537047H19.7875L27.5997 19.0648H24.825L22.9123 14.2315H15.154L13.2683 19.0648H10.6283L18.3597 0.0537047ZM16.0161 12.0296H22.0234L19.0062 4.43056L16.0161 12.0296Z" fill="#F7F7F7"/>
<path d="M26.2016 0.805556V0.268519H28.7338L34.4179 14.2852L40.048 0.268519H42.4456V0.805556L34.8219 19.3065H33.8252L26.2016 0.805556Z" fill="#F7F7F7"/>
<path d="M47.8333 19.0648H45.3011V0.268519H47.8333V19.0648Z" fill="#F7F7F7"/>
<path d="M58.4782 0.0537047H59.906L67.7182 19.0648H64.9435L63.0309 14.2315H55.2725L53.3868 19.0648H50.7469L58.4782 0.0537047ZM56.1346 12.0296H62.1419L59.1248 4.43056L56.1346 12.0296Z" fill="#F7F7F7"/>
<path d="M75.0836 19.3333C73.5391 19.3333 72.255 19.0559 71.2314 18.5009C70.2077 17.9281 69.3906 17.2568 68.7799 16.487L70.5579 14.6074C71.0967 15.2877 71.7342 15.8515 72.4705 16.2991C73.2069 16.7466 74.0958 16.9704 75.1375 16.9704C76.3228 16.9704 77.2117 16.6929 77.8044 16.138C78.397 15.5651 78.6934 14.8222 78.6934 13.9093C78.6934 13.1037 78.4689 12.4682 78.0199 12.0028C77.5889 11.5194 77.0321 11.1167 76.3497 10.7944C75.6852 10.4543 74.9668 10.15 74.1946 9.88148C73.4224 9.59506 72.695 9.25494 72.0126 8.86111C71.3481 8.44938 70.7914 7.9392 70.3424 7.33056C69.9114 6.72191 69.6959 5.90741 69.6959 4.88704C69.6959 4.13519 69.8306 3.45494 70.0999 2.8463C70.3873 2.23766 70.7734 1.72747 71.2583 1.31574C71.7612 0.886111 72.3628 0.563889 73.0632 0.349074C73.7815 0.116358 74.5717 0 75.4338 0C76.7448 0 77.8313 0.241667 78.6934 0.725001C79.5554 1.19043 80.2468 1.71852 80.7676 2.30926L79.1782 4.00093C78.7113 3.51759 78.1725 3.12377 77.5619 2.81945C76.9693 2.49722 76.2509 2.33611 75.4068 2.33611C74.4191 2.33611 73.6469 2.55093 73.0901 2.98056C72.5514 3.41019 72.282 4.00093 72.282 4.75278C72.282 5.43303 72.5065 5.97901 72.9554 6.39074C73.4044 6.80247 73.9611 7.16049 74.6256 7.46482C75.2901 7.76914 76.0175 8.06451 76.8077 8.35093C77.5979 8.63735 78.3252 9.00432 78.9897 9.45185C79.6542 9.88148 80.2109 10.4275 80.6599 11.0898C81.1088 11.7522 81.3333 12.6114 81.3333 13.6676C81.3333 14.5985 81.1717 15.4219 80.8484 16.138C80.5252 16.8361 80.0852 17.4269 79.5284 17.9102C78.9717 18.3756 78.3072 18.7336 77.535 18.9843C76.7807 19.217 75.9636 19.3333 75.0836 19.3333Z" fill="#F7F7F7"/>
        </svg>
        <p class="left_part_text">Since 2023</p>
        </div>
        <div class="footer_right_part">
        <div class="first_point">
            <p class="footer_title">Маркетплейс</p>
            <ul class="first_point_list">
                <li class="first_point_item">Каталог товаров</li>
                <li class="first_point_item">Бренды</li>
            </ul>
        </div>
         <div class="second_point">
            <p class="footer_title">Keep in touch!</p>
            <ul class="first_point_list">
                <li class="first_point_item">Группа VK</li>
                <li class="first_point_item">YouTube канал</li>
                <li class="first_point_item">favias.market@yandex.ru</li>
            </ul>
         </div>
        </div>

        </div>
    </footer>