<footer>
        <div class="about">
            <div class="about_container">
                <div class="logo"></div>
                <article>
                    <h3>KEEP IN TOUCH!</h3>
                    <div class="keep_in_touch">
                        <p>
                            <a href="">Маркетплейс</a>
                            <a href="">favias.market@yandex.ru</a>
                            
                        </p>
                        <p>
                            <a href="">Группа VK</a> <br class="phone">
                            <a href="">YouTube канал</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </footer>